* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #081b29;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    background: yellowgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.profile-picture {
    position: absolute;  
    top: 5px;           
    left: 120px;          
    width: 58px;        
    height: 58px;       
    border-radius: 50%;  
    object-fit: cover;   
}


/* Navbar header */
.name {             
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    left: 0;
    
}

/* Navbar different sections */
.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
}

.navbar a:hover {
    color: #00abf0;
}

.header a:hover {
    color: #00abf0;
}

/* Intro formatting including picture */
.home {
    height: 100vh;
    background: url('pic.jpeg') no-repeat;
    background-size: contain; 
    background-position: right center; 
    display: flex;
    align-items: center;
    padding: 0 5%;
    text-align: center;
}

.homecontent {
    max-width: 100%;
}

.homecontent h1 {
    font-size: 40px;
    font-weight: 700;
}

.homecontent h3 {
    font-size: 40px;
    font-weight: 700;
    color: #00abf0;
}
.homecontent p {
    font-size: 20px;
    font-weight: 0;
    color: #aedcef;
}

/* All sections formatting*/
.sections {
    padding: 80px 0;
    margin: 20px 5%;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sections:last-child {
    border-bottom: none;
}

.sections h2 {
    font-size: 24px;
    font-weight: 500;
    margin: 30px 0;
}

.sections h3 {
    font-size: 20px;
    font-weight: 300;
    margin: 30px 0;
}

.container{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 20px;
    max-width: 100%;
    margin: 0 auto;
}

.box {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 10px;
    width: calc(50% - 20px); 
    text-align: center;
}

.box p {
    font-size: 16px;
    margin: 10px 0;
}

.box a {
    font-size: 30px;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 0px solid #00abf0;
    border-radius: 0%;
    color: #00abf0;
    text-decoration: none;
}

.box p1{
    font-style: italic;
    font-size: 12px;
}

/* For Mobile*/
@media (max-width: 480px) {
    .header {
        padding: 15px 5%;
    }
    .profile-picture {
        width: 30px;   
        height: 30px;
        top: 17px;     
        left: 0px;
    }
    .navbar a {
        font-size: 16px;
        margin-left: 10px;
    }

    .home {
        background-size: contain; 
        background-position: right ; 
    }

    .homecontent h1 {
        font-size: 28px;
    }

    .homecontent h3 {
        font-size: 18px;
    }

    .sections h2 {
        font-size: 20px;
    }

    .sections h3 {
        font-size: 16px;
    }

    box {
        width: calc(100% - 20px); /* 1 box in 1 row on mobile*/
    }
}
